/*default set for all HTML elements*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*White background*/
body {
    background-color: #d9dcd6;
}
/* CSS for the topics in top right corner*/
.header {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*copied and pasted CSS from "hero". Line 28 in HTML*/
.meeting-img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}
/*formatting for header h1*/ 
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*Changes color of header h1*/
.header h1 .seo {
    color: #d9dcd6;
}
/*sets font and spacing for header elements*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*Displays HTML in a non-listed format*/
.header div ul {
    list-style-type: none;
}
/*Sets display for listed items in header*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*Sets text color for lines 16,19, and 22*/
a {
    color: #ffffff;
    text-decoration: none;
}
/* Sets font size for paragraph elements*/
p {
    font-size: 16px;
}
/*active above as "meeting.img*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*Specifies how a box will be floated*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*Specifies how a box will be floated*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*Sets display for "content" class*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*spacing and font for benefits class*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*sets color and margin for "benefit-lead" class*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/*sets color and margin for "benefit-brand" class*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/*sets color and margin for "benefit-cost" class*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Aligns and adds margin to "benefit-lead" h3 class*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Aligns and adds margin to "benefit-brand" h3 class*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Aligns and adds margin to "benefit-cost" h3 class*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*Sets margin and display to "benefit-lead img" class*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Sets margin and display to "benefit-brand img" class*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Sets margin and display to "benefit-lead img" class*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Sets margins, color, and font for "search-engine-optimization" class*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Sets margins, color, and font for "online-reputation-management" class*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Sets margins, color, and font for "social-media-marketing" class*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Picture won't be taller than 200px*/
.search-engine-optimization img {
    max-height: 200px;
}
/*Picture won't be taller than 200px*/
.online-reputation-management img {
    max-height: 200px;
}
/*Picture won't be taller than 200px*/
.social-media-marketing img {
    max-height: 200px;
}
/*Sets font and margin*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Sets font and margin*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Sets font and margin*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*aligns text, sets padding, and selects which font(s) are displayed*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*footer font 20px*/
.footer h2 {
    font-size: 20px;
}
